
/* .login,
.image {
  min-height: 100vh;
  mix-blend-mode: multiply;
} */



/* .bg-image {
    background-size: cover;
    background-position: center center;  
    mix-blend-mode: multiply;
  }   
  
  .side-image {
     background-size: cover;
    background-position: center center;  
    mix-blend-mode: multiply;
  }  */


  @media (max-width: 767px) {
    .col-md-6.d-md-flex.bg-hh {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
  .body{
      max-width: 78vw;
      max-height: 60vh;
  }
    .col-md-6.d-md-flex.bg-hh img {
      max-width: 78vw;
      max-height: 60vh;
    }
  
    .col-md-6.bg-hh {
      display: flex;
      justify-content: center;
      align-items: center;   
    }
  }